body {
  background: peachpuff;
}

* {
  border: 1px solid teal;
  box-sizing: border-box;
  }

.container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  justify-content: space-between;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 40vh;
  width: 100%;
  align-items: center;
}

.wrapper > div {
  flex-grow: 1;
  height: 40%;
  width: 21%;
  margin: 1em;
}
header {
width: 100%;
min-height: 20vh;
}

footer {
  width: 100%;
  height: 40vh;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  header {
    min-height: 40vh;
  }

  .wrapper {
    width: 75%;
    min-height: 58vh;
  }

  .wrapper > div {
    width: 25%;
  }
  
  footer {
    width: 24%;
    min-height: 58vh;
  }
}